<a href="https://colab.research.google.com/github/BangYuHan/knu_bdna_2022/blob/main/%EB%B0%A9%EC%9C%A0%ED%95%9C4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
a = pd.Series([7,3,5,8])
print(a)

0    7
1    3
2    5
3    8
dtype: int64

In [ ]:
a= pd.array([(0,7),(1,3),(2,5),(3,8)],dtype=float)
print(a)

<PandasArray>
[
[0.0, 7.0],
[1.0, 3.0],
[2.0, 5.0],
[3.0, 8.0]
]
Shape: (4, 2), dtype: float64

In [ ]:
a[0]

<PandasArray>
[0.0, 7.0]
Length: 2, dtype: float64

In [ ]:
a[1]

<PandasArray>
[1.0, 3.0]
Length: 2, dtype: float64

In [ ]:
a[2]

<PandasArray>
[2.0, 5.0]
Length: 2, dtype: float64

In [ ]:
a[3]

<PandasArray>
[3.0, 8.0]
Length: 2, dtype: float64

In [ ]:
x=pd.Series([7,3,5,8], index=['A', 'B', 'C', 'D'])
print(x)

A    7
B    3
C    5
D    8
dtype: int64

In [ ]:
x['A']

7

In [ ]:
x['C']

5

In [ ]:
x[['A','B']]

A    7
B    3
dtype: int64

In [ ]:
x[['B','A','D']]

B    3
A    7
D    8
dtype: int64

In [ ]:
print(x)

A    7
B    3
C    5
D    8
dtype: int64

In [ ]:
x.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
x.values

array([7, 3, 5, 8])

In [33]:
print(sorted(x.index))

['A', 'B', 'C', 'D']

In [34]:
print(sorted(x.values))

[3, 5, 7, 8]

In [38]:
x=pd.Series([7,3,5,8], index=['dog','cat','pandas','turtle'])
x

dog       7
cat       3
pandas    5
turtle    8
dtype: int64

In [39]:
sorted(x.index)

['cat', 'dog', 'pandas', 'turtle']

In [40]:
x.reindex(sorted(x.index))

cat       3
dog       7
pandas    5
turtle    8
dtype: int64

In [41]:
x=pd.Series([7,3,5,8], index=['dog','cat','pandas','turtle'])
y=pd.Series([2,4,5,1], index=['cat','pandas','dog','penguin'])
x+y

cat         5.0
dog        12.0
pandas      9.0
penguin     NaN
turtle      NaN
dtype: float64

In [42]:
val=[1,3,2,4,2,3,]
x=pd.Series(val)
pd.unique(x)

array([1, 3, 2, 4])

In [44]:
age={'유한':24,'지민':22,'재현':27,'승기':24}
pdata=pd.Series(age)
pdata

유한    24
지민    22
재현    27
승기    24
dtype: int64

In [46]:
names=['유한','건우','승기','지민','재현','오성']
pdata=pd.Series(names)
pdata

0    유한
1    건우
2    승기
3    지민
4    재현
5    오성
dtype: object

In [50]:
a=pdata[2:5]
print(a)

2    승기
3    지민
4    재현
dtype: object

In [52]:
data={'age':[24,22,27,24], 'name':['유한','지민','재현','승기'], 'height':[177.3,159.2,169.5,181.9]}
x=pd.DataFrame(data,columns=['name','age','height'])
x

  name  age  height
0   유한   24   177.3
1   지민   22   159.2
2   재현   27   169.5
3   승기   24   181.9

In [53]:
x.name

0    유한
1    지민
2    재현
3    승기
Name: name, dtype: object

In [54]:
x.age

0    24
1    22
2    27
3    24
Name: age, dtype: int64

In [55]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary)
data

   0  1
0  1  2
1  3  4
2  5  6

In [56]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6

In [57]:
data.iloc[1]

First     3
Second    4
Name: 1, dtype: int64

In [58]:
data.iloc[:,1]

0    2
1    4
2    6
Name: Second, dtype: int64

In [59]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10],[11,12],[13,14]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [60]:
data.head()

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [61]:
data.head(3)

   First  Second
0      1       2
1      3       4
2      5       6

In [62]:
data.tail()

   First  Second
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [63]:
data.tail(3)

   First  Second
4      9      10
5     11      12
6     13      14

In [67]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [68]:
databools=[False, True, True, False, True]
data[bools]

   First  Second
1      3       4
2      5       6
4      9      10

In [69]:
databools=[False, True, True, False, True]
data.Second[bools]

1     4
2     6
4    10
Name: Second, dtype: int64

In [70]:
data={'age':[24,22,27,24], 'name':['유한','지민','재현','승기'], 'height':[177.3,159.2,169.5,181.9]}
x=pd.DataFrame(data,columns=['name','age','height'])
x

  name  age  height
0   유한   24   177.3
1   지민   22   159.2
2   재현   27   169.5
3   승기   24   181.9

In [71]:
x.mean(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

age        24.250
height    171.975
dtype: float64

In [72]:
x.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0    100.65
1     90.60
2     98.25
3    102.95
dtype: float64

In [73]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [75]:
data['First']=data['First'].astype('float')
data

   First  Second
0    1.0       2
1    3.0       4
2    5.0       6
3    7.0       8
4    9.0      10

In [102]:
dir='광주광역시동구_의약품도매업소현황_20220412.csv'
accident_data=pd.read_csv(dir,encoding='CP949')
#UTF-8' 코덱을 decoding 하기위해서 CP949사용

FileNotFoundError: ignored

In [96]:
head()

NameError: ignored