<a href="https://colab.research.google.com/github/BangYuHan/knu_bdna_2022/blob/main/%EB%B0%A9%EC%9C%A0%ED%95%9C4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
a = pd.Series([7,3,5,8])
print(a)

0    7
1    3
2    5
3    8
dtype: int64

In [ ]:
a= pd.array([(0,7),(1,3),(2,5),(3,8)],dtype=float)
print(a)

<PandasArray>
[
[0.0, 7.0],
[1.0, 3.0],
[2.0, 5.0],
[3.0, 8.0]
]
Shape: (4, 2), dtype: float64

In [ ]:
a[0]

<PandasArray>
[0.0, 7.0]
Length: 2, dtype: float64

In [ ]:
a[1]

<PandasArray>
[1.0, 3.0]
Length: 2, dtype: float64

In [ ]:
a[2]

<PandasArray>
[2.0, 5.0]
Length: 2, dtype: float64

In [ ]:
a[3]

<PandasArray>
[3.0, 8.0]
Length: 2, dtype: float64

In [ ]:
x=pd.Series([7,3,5,8], index=['A', 'B', 'C', 'D'])
print(x)

A    7
B    3
C    5
D    8
dtype: int64

In [ ]:
x['A']

7

In [ ]:
x['C']

5

In [ ]:
x[['A','B']]

A    7
B    3
dtype: int64

In [ ]:
x[['B','A','D']]

B    3
A    7
D    8
dtype: int64

In [ ]:
print(x)

A    7
B    3
C    5
D    8
dtype: int64

In [ ]:
x.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
x.values

array([7, 3, 5, 8])

In [ ]:
print(sorted(x.index))

['A', 'B', 'C', 'D']

In [ ]:
print(sorted(x.values))

[3, 5, 7, 8]

In [ ]:
x=pd.Series([7,3,5,8], index=['dog','cat','pandas','turtle'])
x

dog       7
cat       3
pandas    5
turtle    8
dtype: int64

In [ ]:
sorted(x.index)

['cat', 'dog', 'pandas', 'turtle']

In [ ]:
x.reindex(sorted(x.index))

cat       3
dog       7
pandas    5
turtle    8
dtype: int64

In [ ]:
x=pd.Series([7,3,5,8], index=['dog','cat','pandas','turtle'])
y=pd.Series([2,4,5,1], index=['cat','pandas','dog','penguin'])
x+y

cat         5.0
dog        12.0
pandas      9.0
penguin     NaN
turtle      NaN
dtype: float64

In [ ]:
val=[1,3,2,4,2,3,]
x=pd.Series(val)
pd.unique(x)

array([1, 3, 2, 4])

In [ ]:
age={'유한':24,'지민':22,'재현':27,'승기':24}
pdata=pd.Series(age)
pdata

유한    24
지민    22
재현    27
승기    24
dtype: int64

In [ ]:
names=['유한','건우','승기','지민','재현','오성']
pdata=pd.Series(names)
pdata

0    유한
1    건우
2    승기
3    지민
4    재현
5    오성
dtype: object

In [ ]:
a=pdata[2:5]
print(a)

2    승기
3    지민
4    재현
dtype: object

In [ ]:
data={'age':[24,22,27,24], 'name':['유한','지민','재현','승기'], 'height':[177.3,159.2,169.5,181.9]}
x=pd.DataFrame(data,columns=['name','age','height'])
x

  name  age  height
0   유한   24   177.3
1   지민   22   159.2
2   재현   27   169.5
3   승기   24   181.9

In [ ]:
x.name

0    유한
1    지민
2    재현
3    승기
Name: name, dtype: object

In [ ]:
x.age

0    24
1    22
2    27
3    24
Name: age, dtype: int64

In [ ]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary)
data

   0  1
0  1  2
1  3  4
2  5  6

In [ ]:
ary=[[1,2],[3,4],[5,6]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6

In [ ]:
data.iloc[1]

First     3
Second    4
Name: 1, dtype: int64

In [ ]:
data.iloc[:,1]

0    2
1    4
2    6
Name: Second, dtype: int64

In [ ]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10],[11,12],[13,14]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [ ]:
data.head()

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [ ]:
data.head(3)

   First  Second
0      1       2
1      3       4
2      5       6

In [ ]:
data.tail()

   First  Second
2      5       6
3      7       8
4      9      10
5     11      12
6     13      14

In [ ]:
data.tail(3)

   First  Second
4      9      10
5     11      12
6     13      14

In [ ]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [ ]:
databools=[False, True, True, False, True]
data[bools]

   First  Second
1      3       4
2      5       6
4      9      10

In [ ]:
databools=[False, True, True, False, True]
data.Second[bools]

1     4
2     6
4    10
Name: Second, dtype: int64

In [ ]:
data={'age':[24,22,27,24], 'name':['유한','지민','재현','승기'], 'height':[177.3,159.2,169.5,181.9]}
x=pd.DataFrame(data,columns=['name','age','height'])
x

  name  age  height
0   유한   24   177.3
1   지민   22   159.2
2   재현   27   169.5
3   승기   24   181.9

In [ ]:
x.mean(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

age        24.250
height    171.975
dtype: float64

In [ ]:
x.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0    100.65
1     90.60
2     98.25
3    102.95
dtype: float64

In [ ]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
data=pd.DataFrame(ary,columns=['First','Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [ ]:
data['First']=data['First'].astype('float')
data

   First  Second
0    1.0       2
1    3.0       4
2    5.0       6
3    7.0       8
4    9.0      10

In [ ]:
dir='충청남도 보령시 장애인단체현황_20220414.csv'
chungnam=pd.read_csv(dir,encoding='CP949')
#UTF-8' 코덱을 decoding 하기위해서 CP949사용

In [ ]:
a='train.csv'
b=pd.read_csv(a,encoding='CP949')

In [ ]:
chungnam.head()

   연번                기관단체명  대표자  회원수                         주 소
0   1                충남정심원  김용환  236       충청남도 보령시 주교면 보령북로 404
1   2                정심요양원  권기은   42      충청남도 보령시 웅천읍 부당길 63-43
2   3                이야기마을  김용구   27      충청남도 보령시 웅천읍 부당길 63-43
3   4  충남서부장애인종합복지관 공동생활가정  김찬수    4  충청남도 보령시 원뚝길 3-14, B동 401호
4   5                정심작업장  이영미   40       충청남도 보령시 주교면 보령북로 404

In [ ]:
b.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
★7주차강의★

In [ ]:
"Hello World"

'Hello World'

In [ ]:
'Hello World'

'Hello World'

In [ ]:
"""Hello World"""

'Hello World'

In [ ]:
'''Hello World'''

'Hello World'

In [ ]:
string_ex="It's good"
string_ex

"It's good"

In [ ]:
string_ex='"Hello".He said'
string_ex

'"Hello".He said'

In [ ]:
string_ex="It\'s good"
string_ex

"It's good"

In [ ]:
string_ex='It\'s good'
string_ex

"It's good"

In [ ]:
string_ex='\"Hello\".He said'
string_ex

'"Hello".He said'

In [ ]:
string_ex="\"Hello\".He said"
string_ex

'"Hello".He said'

In [ ]:
string_ex='''Hello
Bye
Hello Again!
'''
print(string_ex)

Hello
Bye
Hello Again!

In [ ]:
string_ex='Hello\nBye\nHello Again!'
print(string_ex)

Hello
Bye
Hello Again!

In [ ]:
a="Hello"
b=" World"
c=a+b
print(c)

Hello World

In [ ]:
a="Hello"
b=" World. "
c=a+b
d=c*2
print(d)

Hello World. Hello World.

In [ ]:
print('='*10)
print('='*20)

==========
====================

In [ ]:
print('='*50)
print('Result: ')
print('='*50)

==================================================
Result:
==================================================

In [ ]:
a= 'Hello World'
len(a)

11

In [ ]:
a= 'Hello World'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])
print(a[7])
print(a[8])
print(a[9])
print(a[10])

H
e
l
l
o

W
o
r
l
d

In [ ]:
a= 'Hello World'
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])
print(a[-6])
print(a[-7])
print(a[-8])
print(a[-9])
print(a[-10])
print(a[-11])

d
l
r
o
W

o
l
l
e
H

In [ ]:
a= 'Hello World'
first_part=a[:5]
print(first_part)
second_part=a[5:]
print(second_part)

Hello
 World

In [ ]:
a="Iam %d years old."%24
print(a)

Iam 24 years old.

In [ ]:
myage=24
herage=23
a="I am %d years old. Her is %d years old." % (myage,herage)
print(a)

I am 24 years old. Her is 23 years old.

In [ ]:
name='Yu Han Bang'
a="My name is %s." %(name)
print(a)

My name is Yu Han Bang.

In [ ]:
a= "Error is %f%%." %98.3
print(a)

Error is 98.300000%.

In [ ]:
a="%10s. Hello" % 'hi'
print(a)

        hi. Hello

In [ ]:
a="%-10s. Hello" % 'hi'
print(a)

hi        . Hello

In [ ]:
print("%0.4f" % 1.123456789)

1.1235

In [ ]:
print("%0.8f" % 1.123456789)

1.12345679

In [ ]:
a= 'Hello'
a.count('l')

2

In [ ]:
a="Python is the best"
a.find('b')

14

In [ ]:
a.find('k')

-1

In [ ]:
a= "Life is too short"
a.index('t')

8

In [ ]:
",".join('abcd')

'a,b,c,d'

In [ ]:
a='BANG YU HAN'
a.lower()

'bang yu han'

In [ ]:
a='bang yu han'
a.upper()

'BANG YU HAN'

In [ ]:
a=' hi '
a.lstrip()

'hi '

In [ ]:
a=' hi '
a.rstrip()

' hi'

In [ ]:
a=' hi '
a.strip()

'hi'

In [ ]:
a="Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [ ]:
a="Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [ ]:
b="a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [ ]:
f=open("test.txt",'w')
for i in range(1,11):
    data="%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [161]:
import numpy as np

x=np.linspace(0.2*np.pi,10)
y=np.sin(x)

In [162]:
f=open("sin.txt",'w')
for i in range(len(y)):
  data=str(y[i])
  f.write(data)
  f.write('\n')
f.close

In [163]:
f=open("sin.txt",'r')

In [164]:
for i in range(1,11):
  line=f.readline()
  print("%d 번째 결과입니다."%i,(line))
f.close()

1 번째 결과입니다.
2 번째 결과입니다.
3 번째 결과입니다.
4 번째 결과입니다.
5 번째 결과입니다.
6 번째 결과입니다.
7 번째 결과입니다.
8 번째 결과입니다.
9 번째 결과입니다.
10 번째 결과입니다.

In [165]:
f= open("test.txt",'r')
line=f.readline()
print(line)
f.close()

1번째 줄입니다.

In [166]:
f= open("test.txt",'r')
line=f.readline()
print(line)
line=f.readline()
print(line)
line=f.readline()
print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

In [167]:
f=open("test.txt",'r')
while True:
  line=f.readline()
  if not line: break
  print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [168]:
f=open("test.txt",'r')
lines=f.readlines()
f.close()

In [169]:
for i in lines:
  print(i)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [170]:
f=open("test.txt",'r')
data=f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [171]:
with open("test2.txt",'w')as f:
  f.write("저는 24살 방유한 입니다.")

In [172]:
with open("test2.txt",'r')as f:
  line=f.readline()
  print(line)

저는 24살 방유한 입니다.

In [173]:
with open("test2.txt",'r')as f:
  line=f.readline()
  words=line.split()
  print(words)

['저는', '24살', '방유한', '입니다.']

In [174]:
with open("test2.txt",'r')as f:
  line=f.readline()
  words=line.split()
  for i in range(len(words)):
    print(words[i])

저는
24살
방유한
입니다.

In [175]:
import numpy as np

In [176]:
x=np.linspace(0,2*np.pi,10)
y=np.sin(x)
with open("sin.txt",'w')as f:
  for i in range(len(y)):
    data=y[i]
    f.write('[%d]: %0,9f'%(i,data))
    f.write('\n')
  f.close()

ValueError: ignored